:root.theme-dark {
    --main-color: #F1B2CE;
    --second-color: #000028;
    --hover-color: #db00ff;
    --accent-color: #ff0070;
    --background-image: url(../images/cover-image-dark.png);
    --hover-border: rgba(255, 0, 112, 0.4);

    .decoration-element {
        display: flex;
    }
}

.theme-dark .page {
}