:root.theme-light {
    --main-color: #353430;
    --second-color:  #FF8DCB;;
    --hover-color:#ffC2E6;
    --accent-color: #ff0070;
    --background-image: url(../images/cover-image-light.png);
    --hover-border: rgba(50, 49, 45, 0.4);
    --title-color: #353430;
    --title-background: #FF8DCB;
    --subtitle-color: #353430;
    --button-color: #353430;
    --button-hover: #353430;
    --decorate-color: #353430;
    --link-shadow: #353430;
}

@media (prefers-color-scheme: light) {
    :root {
        --main-color: #353430;
        --second-color: #FF8DCB;
        --hover-color: #ffC2E6;
        --accent-color: #ff0070;
        --background-image: url(../images/cover-image-light.png);
        --hover-border: rgba(50, 49, 45, 0.4);
        --subtitle-color: #353430;
        --title-color: #353430;
        --title-background: #FF8DCB;
        --button-color: #353430;
        --button-hover: #353430;
        --decorate-color: #353430;
        --title-color: #353430;
        --title-background: #FF8DCB;
        --subtitle-color: #353430;
        --link-shadow: #353430;
    }

    .decoration-element {
        display: none;
    }
}

.theme-light .page {
        .decoration-element {
            display: none;
        }
}
